@use '../mixins' as *;

.animation-wrapper {
	position: relative;
	border-bottom: 1px solid rgba(var(--color-white-rgb), .1);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include min-height();

	&:before {
		position: absolute;
		content: '';
		background-image: var(--black-gradient);
		inset: 0;
	}

	.animation {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		gap: 50px;

		&-cube, &-pyramid, &-rhombus, &-circle, &-triangle {
			position: relative;
			flex: 0 0 auto;
			width: 300px;
			height: 300px;
			transform-origin: 50% 50%;
			transform-style: preserve-3d;
			perspective: 20000px;

			&:hover {
				animation-play-state: paused;
			}
		}

		.side {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 300px;
			height: 300px;
			opacity: .2;
			color: #fff;
		}

		&-cube {
			animation: spin 12s linear infinite;

			.side {
				&-front {
					transform: translateZ(150px);
					background-color: white;
				}

				&-back {
					transform: translateZ(-150px) rotateY(180deg);
					background-color: red;
				}

				&-left {
					transform: rotateY(-90deg) translateZ(150px);
					background-color: green;
				}

				&-right {
					transform: rotateY(90deg) translateZ(150px);
					background-color: yellow;
				}

				&-top {
					transform: rotateX(90deg) translateZ(150px);
					background-color: orange;
				}

				&-bottom {
					transform: rotateX(-90deg) translateZ(150px);
					background-color: blue;
				}
			}
		}

		&-pyramid {
			animation: spin 9s linear infinite;
			scale: 0.8;

			.side {
				&-base {
					transform: rotateX(90deg) translateZ(-86px);
					background-color: blue;
				}

				&-front,
				&-back,
				&-left,
				&-right {
					background-color: white;
					clip-path: polygon(50% 0, 0 100%, 100% 100%);
				}

				&-front {
					transform: rotateX(-30deg) translateZ(-85px);
					background-color: white;
				}

				&-back {
					transform: rotateX(30deg) translateZ(85px);
					background-color: red;
				}

				&-left {
					transform: rotateY(-90deg) rotateX(30deg) translateZ(85px);
					background-color: green;
				}

				&-right {
					transform: rotateY(90deg) rotateX(30deg) translateZ(85px);
					background-color: yellow;
				}
			}
		}

		&-rhombus {
			animation: spin 15s linear infinite;

			.side {
				&-top {
					&-left-front, &-left-back, &-right-front, &-right-back {
						clip-path: polygon(0 0, 100% 0, 50% 100%);
					}

					&-left-front {
						transform: rotateY(-45deg) rotateX(-30deg) translateZ(130px) translateY(74px);
						background-color: red;
					}

					&-left-back {
						transform: rotateY(-135deg) rotateX(-30deg) translateZ(130px) translateY(74px);
						background-color: orange;
					}

					&-right-front {
						transform: rotateY(45deg) rotateX(-30deg) translateZ(130px) translateY(74px);
						background-color: yellow;
					}

					&-right-back {
						transform: rotateY(135deg) rotateX(-30deg) translateZ(130px) translateY(74px);
						background-color: green;
					}
				}

				&-bottom {
					&-left-front, &-left-back, &-right-front, &-right-back {
						clip-path: polygon(50% 0, 0 100%, 100% 100%);
					}

					&-left-front {
						transform: rotateY(-45deg) rotateX(30deg) translateZ(130px) translateY(-74px);
						background-color: blue;
					}

					&-left-back {
						transform: rotateY(-135deg) rotateX(30deg) translateZ(130px) translateY(-74px);
						background-color: purple;
					}

					&-right-front {
						transform: rotateY(45deg) rotateX(30deg) translateZ(130px) translateY(-74px);
						background-color: pink;
					}

					&-right-back {
						transform: rotateY(135deg) rotateX(30deg) translateZ(130px) translateY(-74px);
						background-color: cyan;
					}
				}
			}
		}

		&-circle {
			animation: spin 8s linear infinite;

			.side {
				&-x, &-y, &-z {
					border-radius: 50%;
				}

				&-x{
					transform: translateX(0);
					background-color: #007aff;
				}

				&-y{
					transform: rotateX(90deg);
					background-color: #45ff45;
				}

				&-z{
					transform: rotateY(90deg);
					background-color: #f63535;
				}
			}
		}

		&-triangle {
			animation: spin 20s linear infinite;

			.side {
				--radius : 25deg;
				&-front, &-left, &-right {
					clip-path: polygon(0 0, 100% 0, 50% 100%);
				}

				&-base{
					clip-path: polygon(0 0, 100% 0, 50% calc(100% - 40px));
					background-color: #007aff;
					transform: rotateX(-90deg) translateZ(-150px);
				}

				&-front{
					background-color: #45ff45;
					transform: rotateY(0) translateZ(110px) rotateX(-18deg);
				}

				&-left{
					background-color: #f63535;
					transform: translateX(30px) translateZ(40px) rotateY(-60deg)  rotateX(18deg);
				}
				&-right{
					background-color: #FFF;
					transform: translateX(-30px) translateZ(40px) rotateY(60deg) rotateX(18deg);
				}
			}
		}

		@keyframes spin {
			from {
				transform: rotateX(0) rotateY(0) rotateZ(0);
			}
			to {
				transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
			}
		}
	}
}