@use '../mixins' as *;

.banner-wrapper {
	position: relative;
	border-bottom: 1px solid rgba(var(--color-white-rgb), .1);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media (max-width: 1024px){
		background-size: cover;
	}
	@include min-height();

	.banner {

		&-header{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}

		&-title{
			font-size: var(--subtitle-font-size);
			font-weight: 800;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: var(--secondary-padding);
		}

		&-subtitle{

		}

	}
}