@use '../mixins' as *;

.banner-wrapper {
	position: relative;
	border-bottom: 1px solid rgba(var(--color-white-rgb), .1);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-attachment: fixed;
	@media (max-width: 1024px) {
		background-size: cover;
	}

	@include min-height();

	.banner {
		display: flex;
		flex-direction: column;

		&-inner{
			display: flex;
			flex-direction: column;
			gap: var(--primary-padding)
		}

		&-title {
			align-self: flex-end;
		}

		&-article{

			img{
				width : auto;
				max-width : 50%;
				height : inherit;
				max-height : 400px;
				object-fit: cover;
				object-position: center;
				border-radius: 2px;
				overflow: hidden;
				display: block;

				@media(max-width: 768px) {
					max-width : 100%;
					margin-bottom: var(--primary-padding);
				}
			}

			&-title{
				margin-bottom: var(--primary-padding);
				font-weight: 800;
				letter-spacing: 5px;
				font-size: var(--decor-font-size);
			}

			&:nth-child(odd){
				img{
					float: left;
					margin-right:  var(--primary-padding);
				}
			}

			&:nth-child(even){
				img{
					float: right;
					margin-left:  var(--primary-padding);
				}
			}

			a{
				color: inherit;
				font-weight: 600;
			}
		}
	}
}