@use '../mixins' as *;

.header-wrapper {
	position: fixed;
	z-index: 200;
	top: 0;
	right: 0;
	left: 0;

	.header {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		max-width: calc(var(--primary-width) + (var(--primary-padding) * 2));
		padding: var(--primary-padding);
		margin-inline: auto;

		&-menu {
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			border-right: 1px solid rgba(var(--color-white-rgb), 0.1);
			@include min-height();
			@media (max-width: 1024px) {
				border-right: none;
			}
			@media (max-width: 768px) {
				display: none;
			}

			padding: var(--secondary-padding);

			ul {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				gap: var(--secondary-padding);

				li {

					opacity: .6;

					a {
						border-radius: 5px;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						text-decoration: none;
						transition: color .3s ease;
						color: var(--color-white);
						overflow: hidden;
						filter: var(--primary-shadow);
						text-transform: uppercase;

						svg {
							aspect-ratio: 1/1;
						}
					}

					&.active {

						a {
							color: var(--color-green);
						}
					}

					&.active{
						opacity: 1;
					}
				}
			}
		}

		&-controls {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;

			button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				padding: 0;
				cursor: pointer;
				color: var(--color-green);
				border: none;
				outline: none;
				background: transparent;

				svg {
					display: block;
					width: 20px;
					height: 20px;
				}

				&.next {
					transform: rotate(180deg);
				}

				&.is-disabled {
					pointer-events: none;
					opacity: 0.5;
				}
			}
		}
	}
}