@use '../mixins' as *;

.header-wrapper {
	position: fixed;
	z-index: 200;
	top: 0;
	right: 0;
	left: 0;

	.header {
		z-index: 300;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: calc(var(--primary-width) + (var(--primary-padding) * 2));
		padding: var(--primary-padding);
		margin-inline: auto;
		height: var(--header-height);

		&-menu {
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			padding: var(--primary-padding);
			padding-top: calc(var(--header-height) + var(--primary-padding));
			@include min-height();
			border-right: 1px solid rgba(var(--color-white-rgb), 0.1);
			@media (max-width: 1024px) {
				border-right: none;
			}
			@media (max-width: 768px) {
				display: none;
			}

			ul {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				gap: var(--primary-padding);

				li {
					opacity: .5;

					a {
						display: flex;
						align-items: center;
						flex-direction: row;
						overflow: hidden;
						width: 100%;
						transition: color .3s ease;
						text-decoration: none;
						gap : var(--primary-padding);
						font-size: 14px;
						color: var(--color-white);
						border-radius: 5px;
						filter: var(--primary-shadow);

						svg {
							width :40px;
							aspect-ratio: 1/1;
							display: block;
						}
					}

					&.active {
						a {
							color: var(--color-green);
						}
					}

					&.active {
						opacity: 1;
					}
				}
			}
		}

		&-controls {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;

			button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				padding: 0;
				cursor: pointer;
				color: var(--color-white);
				border: none;
				outline: none;
				background: transparent;
				transition: opacity .2s ease;

				svg {
					display: block;
					width: 20px;
					height: 20px;
					filter: var(--primary-shadow);
				}

				&.next {
					transform: rotate(180deg);
				}

				&.is-disabled {
					pointer-events: none;
					opacity: 0.5;
				}
			}
		}
	}
}