@use '../mixins' as *;

.hero-wrapper {
	position: relative;
	border-bottom: 1px solid rgba(var(--color-white-rgb), .1);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	@include min-height();

	&:before {
		position: absolute;
		content: '';
		background-image: var(--black-gradient);
		inset: 0;
	}

	.hero {
		position: relative;
		display: flex;
		align-items: stretch;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		padding-left: var(--primary-padding);
		@media (max-width: 768px) {
			align-items: center;
		}

		&-single-slider {
			overflow: visible;
			flex: 1;
			width: 100%;
			height: auto;
			@media (max-width: 768px) {
				align-self: stretch;
			}
		}

		&-article {
			line-height: 1.2;
			display: flex;
			align-items: flex-end;
			flex-direction: column;
			text-align: right;
			gap: var(--primary-padding);
			@media (max-width: 768px) {
				align-items: center;
				text-align: center;
			}
		}

		&-name {
			font-size: var(--title-font-size);
			font-weight: 800;
			margin-bottom: var(--primary-padding);
			@include text-limit(2);
			@media (max-width: 768px) {
				margin-bottom: 0;
			}
		}

		&-tech {
			font-size: var(--subtitle-font-size);
			font-weight: 800;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: var(--secondary-padding);
		}
	}
}