@use '../mixins' as *;

.hero-wrapper{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	border-bottom: 1px solid rgba(var(--color-white-rgb), .1);
	@include min-height();

	&:before{
		content: '';
		position: absolute;
		inset: 0;
		background-image: radial-gradient(
						ellipse at center,
						rgba(var(--color-black-rgb),0.2) 0%,
						rgba(var(--color-black-rgb),1) 100%
		);
	}

	.hero{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		width: 100%;

		@media (max-width: 768px) {
			align-items: center;
		}

		&-decor{
			position: absolute;
			top: 0;
			left: calc(var(--secondary-padding) * -1);
		}

		&-single-slider{
			width: 100%;
			height: auto;
			flex : 1;
			overflow: hidden;
			.single-slide{
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			@media (max-width: 768px){
				align-self: stretch;
			}
		}

		.single-slider{
			height: 100%;

			&-pagination{
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: var(--secondary-padding);

				@media (max-width: 768px) {
					display: none;
				}
			}

			&-bullet{
				text-transform: uppercase;
				&.active{

				}
			}
		}

		&-article{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			gap: var(--primary-padding);
			text-align: right;
			line-height: 1.2;
			filter: var(--primary-shadow);

			@media (max-width: 768px) {
				align-items: center;
				text-align: center;
			}

		}

		.with-line{
			font-size: var(--decor-font-size);
			color : rgba(var(--color-white-rgb), var(--disabled-opacity));
			display: flex;
			flex-direction: row;
			align-items: center;
			position: relative;
			gap: var(--primary-padding);
			text-transform: uppercase;
			letter-spacing: var(--decor-spacing);

			&:before{
				content: '';
				display: block;
				width : 80px;
				height :  1px;
				background: currentColor;

				@media (max-width: 1024px) {
					width : 60px;
				}
				@media (max-width: 768px) {
					display: none;
				}
			}
		}

		&-title{

		}
		&-techtile{

		}

		&-name{
			font-weight: 800;
			font-size: var(--title-font-size);
			margin-bottom: var(--primary-padding);

			@media (max-width: 768px) {
				margin-bottom: 0;
			}
		}

		&-tech{
			font-weight: 800;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: var(--secondary-padding);
			font-size: var(--subtitle-font-size);
			margin-bottom: var(--primary-padding);

			@media (max-width: 768px) {
				margin-bottom: 0;
			}
		}
	}
}