.animate{

	&.up{
		opacity: .5;
		transform: translateY(30px);
		transition: opacity .2s ease-in-out ,transform .2s ease-in-out;
		&.show{
			opacity: 1;
			transform: translateY(0);
		}
	}
	&.down-menu{
		opacity: 0;
		transform: translateY(-30px);
		transition: opacity .2s ease-in-out .2s ,transform .2s ease-in-out .2s;
		&.show{
			opacity: 1;
			transform: translateY(0);
		}
	}
}