.customWrapper {
	display: flex;
	width: 100%;

	.customBlock {
		flex: 1;
		max-width: calc(var(--primary-width) + (var(--primary-padding) * 2));
		padding: var(--primary-padding) var(--primary-padding) var(--primary-padding) 180px;
		gap: var(--primary-padding);
		margin-inline: auto;
		@media(max-width: 1024px) {
			padding-left: 80px;
		}
		@media(max-width: 768px) {
			padding-left: var(--primary-padding);
		}
	}
}

.customButton {
	padding: 10px;
	max-width: 300px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 5px;
	cursor: pointer;
	transition: all 0.2s ease;
	outline: none;

	&.green {
		background-color: rgba(var(--color-green-rgb), 1);
		filter: var(--primary-shadow);
		border-radius: 5px;
		color: var(--color-black);

		@media (min-width: 769px){
			&:hover {
				transform: scale(1.05);
			}

			&:active {
				transform: scale(0.95);
			}
		}
	}
}
