@use 'mixins' as *;

.customWrapper {
	display: flex;
	width: 100%;

	.customBlock {
		width: 100%;
		flex: 1;
		max-width: calc(var(--primary-width) + (var(--primary-padding) * 2));
		padding: var(--primary-padding) var(--primary-padding) var(--primary-padding) 180px;
		gap: var(--primary-padding);
		margin-inline: auto;
		@include shadow(rgba(var(--color-black-2-rgb), .5));
		@media(max-width: 1024px) {
			padding-left: 80px;
		}
		@media(max-width: 768px) {
			padding-left: var(--primary-padding);
		}
	}
}

.customButton {
	padding: 10px;
	max-width: 300px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 5px;
	cursor: pointer;
	transition: all 0.2s ease;
	outline: none;

	&.green {
		background-color: rgba(var(--color-green-rgb), 1);
		border-radius: 5px;
		color: var(--color-black);

		@media (min-width: 769px){
			&:hover {
				transform: scale(1.05);
			}

			&:active {
				transform: scale(0.95);
			}
		}
	}
}

.with-line {
	font-size: var(--decor-font-size);
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: auto;
	letter-spacing: var(--decor-spacing);
	text-transform: uppercase;
	color: rgba(var(--color-white-rgb), var(--disabled-opacity));
	gap: var(--primary-padding);


	&:before {
		position: absolute;
		top: 50%;
		right: calc(100% + var(--primary-padding));
		display: block;
		flex-shrink: 0;
		width: 80px;
		height: 1px;
		content: '';
		background: currentColor;
		@media (max-width: 1024px) {
			width: 60px;
		}
		@media (max-width: 768px) {
			display: none;
		}
	}
}
