.typo {
	img {
		max-width: 100%;
		height: auto;
		margin-bottom: 2px;
	}

	b,
	strong {
		font-weight: 700;
	}

	p {
		margin-bottom: 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		position: relative;
		text-decoration: underline;
		color: inherit;

		&:hover {
			text-decoration: none;
		}
	}

	em {
		font-style: italic;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.2
	}

	h1 {
		font-size: 32px;
		margin-bottom: 14px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h2 {
		font-size: 28px;
		margin-bottom: 14px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h3 {
		font-size: 26px;
		margin-bottom: 14px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h4 {
		font-size: 24px;
		margin-bottom: 14px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h5 {
		font-size: 22px;
		margin-bottom: 14px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h6 {
		font-size: 20px;
		margin-bottom: 14px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		display: block;
		margin: 0 0 28px 0;
		padding: 0;
		list-style: none;

		&:last-child {
			margin-bottom: 0;
		}

		li {
			position: relative;
			margin-bottom: 0;
			padding-left: 22px;
			list-style: none;

			&:before {
				position: absolute;
				top: 10px;
				left: 2px;
				display: block;
				box-sizing: border-box;
				width: 6px;
				height: 6px;
				content: '';
				background-color: black;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	ol {
		display: block;
		margin: 0 0 28px 0;
		padding: 0;
		list-style: none;
		counter-reset: my-ol-counter;

		&:last-child {
			margin-bottom: 0;
		}

		li {
			position: relative;
			margin-bottom: 0;
			padding-left: 22px;

			&:before {
				font-weight: 400;
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				box-sizing: border-box;
				content: counter(my-ol-counter) '. ';
				counter-increment: my-ol-counter;
				color: #000;
				background-color: transparent;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	blockquote {
		font-size: 18px;
		position: relative;
		margin-bottom: 40px;
		padding: 4px 20px 4px 56px;

		&:last-child {
			margin-bottom: 0;
		}

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 2px;
			height: 100%;
			content: '';
			background-color: grey;
		}

		b,
		strong {
			font-size: 24px;
			font-weight: 700;
		}

		p {
			line-height: 1.34;
			margin-bottom: 10px;
		}

		@media (max-width: 920px) {
			padding: 4px 20px 4px 22px;
		}
	}

	hr {
		display: block;
		width: 100%;
		height: 2px;
		margin-bottom: 14px;
		border: none;
		background-color: black;

		&:last-child {
			margin-bottom: 0;
		}
	}

	table {
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		line-height: normal;
		width: 100%;
		margin-bottom: 14px;
		text-align: center;
		vertical-align: middle;
		text-decoration: none;
		text-transform: none;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: black;
		border-left-width: 1px;
		border-left-style: solid;
		border-left-color: black;

		&:last-child {
			margin-bottom: 0;
		}

		tr {
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: black;

			td,
			th {
				padding: 20px;
				border-right-width: 1px;
				border-right-style: solid;
				border-right-color: black;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: black;
			}
		}
	}
}

.customWrapper {
	display: flex;
	width: 100%;

	.customBlock {
		width: 100%;
		flex: 1;
		max-width: calc(var(--primary-width) + (var(--primary-padding) * 2));
		padding: var(--primary-padding) var(--primary-padding) var(--primary-padding) 180px;
		gap: var(--primary-padding);
		margin-inline: auto;
		filter: var(--primary-shadow);
		@media(max-width: 1024px) {
			padding-left: 80px;
		}
		@media(max-width: 768px) {
			padding-left: var(--primary-padding);
		}
	}
}

.customButton {
	padding: 10px;
	max-width: 300px;
	width: 100%;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 5px;
	cursor: pointer;
	transition: all 0.2s ease;
	outline: none;

	&.green {
		background-color: rgba(var(--color-green-rgb), 1);
		border-radius: 5px;
		color: var(--color-black);

		@media (min-width: 769px){
			&:hover {
				transform: scale(1.05);
			}

			&:active {
				transform: scale(0.95);
			}
		}
	}
}

.with-line {
	font-size: var(--decor-font-size);
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row;
	width: auto;
	letter-spacing: var(--decor-spacing);
	text-transform: uppercase;
	color: rgba(var(--color-white-rgb), var(--disabled-opacity));
	gap: var(--primary-padding);


	&:before {
		position: absolute;
		top: 50%;
		right: calc(100% + var(--primary-padding));
		display: block;
		flex-shrink: 0;
		width: 80px;
		height: 1px;
		content: '';
		background: currentColor;
		@media (max-width: 1024px) {
			width: 60px;
		}
		@media (max-width: 768px) {
			display: none;
		}
	}
}
