@use 'mixins' as *;

.header-wrapper {
	position: fixed;
	z-index: 200;
	top: 0;
	right: 0;
	left: 0;

	.header {
		position: relative;
		z-index: 300;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: calc(var(--primary-width) + (var(--primary-padding) * 2));
		height: var(--header-height);
		padding-inline: var(--primary-padding);
		margin-inline: auto;

		&-logo {
			z-index: inherit;
			height: var(--header-height);
		}

		&-menu {
			position: absolute;
			z-index: 200;
			top: 0;
			left: 0;
			display: flex;
			padding: var(--primary-padding);
			padding-top: calc(var(--header-height) + var(--primary-padding));
			@include min-height();
			@media (max-width: 1024px) {
				border-right: none;
			}
			@media (max-width: 768px) {
				display: none;
			}

			ul {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				gap: var(--primary-padding);

				li {
					opacity: var(--disabled-opacity);

					a {
						font-size: 14px;
						font-weight: 600;
						display: flex;
						overflow: hidden;
						align-items: center;
						flex-direction: row;
						width: 100%;
						transition: color .3s ease;
						text-decoration: none;
						text-transform: capitalize;
						color: var(--color-white);
						border-radius: 5px;
						gap: var(--primary-padding);
						filter: var(--primary-shadow);

						svg {
							display: block;
							width: 40px;
							aspect-ratio: 1/1;
						}

						span {
							display: block;
							@media (max-width: 1024px) {
								display: none;
							}
						}
					}

					&.active {
						a {
							color: var(--color-green);
						}
					}

					&.active {
						opacity: 1;
					}
				}
			}
		}

		&-controls {
			display: flex;
			align-items: center;
			flex-direction: row;
			flex-shrink: 0;

			button {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				padding: 0;
				cursor: pointer;
				transition: opacity .2s ease;
				color: var(--color-white);
				border: none;
				outline: none;
				background: transparent;

				svg {
					display: block;
					width: 20px;
					height: 20px;
					filter: var(--primary-shadow);
				}

				&.next {
					transform: rotate(180deg);
				}

				&.is-disabled {
					pointer-events: none;
					opacity: var(--disabled-opacity);
				}
			}
		}
	}
}