.customLogo{
	display: flex;
	align-items: center;
	justify-content: center;
	gap : var(--primary-padding);
	cursor: pointer;
	filter: var(--primary-shadow);
	height: 100%;

	@media (max-width: 768px) {
		pointer-events: none;
	}

	svg{
		display: block;
		transition: transform .2s ease , color .2s ease;
		height: 100%;
		width: auto;
		transform: scale(0.9);

		@media (max-width: 768px) {
			color: var(--color-green);
		}
	}

	.logo-text{
		font-size: var(--secondary-font-size);
		font-weight: 800;
		line-height: 1;
		color: var(--color-white);
		text-transform: capitalize;
	}

	&:hover{
		svg{
			transform: scale(1);
		}
	}

	&.close{
		svg{
			color: var(--color-green);
			transform: scale(1);
		}
	}
}