.second-slider {
	padding-block: 150px;
	position: relative;

	@media (max-width: 768px){
		padding-block: 0;
	}

	&-slide {
		position: relative;
		overflow: visible;
		width: 100%;
		height: 100%;
		background-position: center left;
		background-size: cover;
		border-radius: 2px;
		padding: calc(var(--primary-padding) * 2);
		display: flex;
		flex-direction: column;
		gap :var(--primary-padding);

		&:before {
			z-index: -1;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: rgba(var(--color-black-rgb), var(--disabled-opacity));
		}

		&:hover{

		}

		@media (max-width: 768px){
			background-size: contain ;
			background-position: top center;
		}

		&.slide-{
			&1{
				transform: translateY(-50px) scale(1.05);
			}
			&2{
				transform: translateY(50px) scale(1.05);
			}
			&3{
				transform: translateY(-25px) scale(1.05);
			}
			&4{
				transform: translateY(0) scale(1.05);
			}

			@media (max-width: 768px){
				&1,&2,&3,&4{
					transform: translateY(0) scale(1);
				}
			}
		}

		&-slug {
			font-size: var(--secondary-font-size);
			line-height: 2;
			text-transform: uppercase;
		}

		&-title{
			font-size: var(--secondary-font-size);
			line-height: 2;
			text-transform: uppercase;
		}

		&-link{
			font-size: var(--secondary-font-size);
			line-height: 2;
			text-transform: uppercase;
		}

		&.empty {
			background-color: rgba(var(--color-green-rgb), var(--disabled-opacity));
		}
	}
}