
.single-slider {
	position: relative;
	overflow: visible;
	flex: 1;

	&-pagination {
		position: relative;
		align-self: center;
		@media (max-width: 768px) {
			display: none;
		}
	}

	&-bullet {
		font-size: var(--secondary-font-size);
		line-height: 2;
		display: inline-block;
		margin-right: var(--primary-padding);
		transition: opacity .2s ease-in-out;
		text-transform: uppercase;
		opacity: var(--disabled-opacity);

		i {
			font-weight: 800;
			font-style: normal;
			margin-right: var(--secondary-padding);
		}

		&.active {
			opacity: 1;
		}
	}

	&-thumb {
		position: absolute;
		top: 0;
		display: block;
		height: 2px;
		transition: transform 0.3s ease, width 0.3s ease;
		background: var(--color-green);
	}

	.single-slide {
		display: flex;
		overflow: visible;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: auto;
		user-select: none;
		transition: opacity .5s;
		opacity: 0;
		color: var(--color-green);
		position: relative;

		.slide-image {
			width: auto;
			height: 100%;

			svg {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
				scale: 1.2;
			}
		}

		&.swiper-slide-active {
			opacity: 1;

			.slide-image {
				svg {
					[class^="svg-"]>* {
						animation-play-state: running;
					}
				}
			}
		}

		.slide-text {
			transform: translateY(-40px);
			font-size: var(--decor-font-size);
			font-weight: 400;
			max-width: 70%;
			text-align: center;
			color: var(--color-white);
			letter-spacing: 5px;

			@media(max-width: 768px) {
				transform: translateY(-10px);
				max-width: 100%;
			}
		}
	}
}