
.tab{
	display: flex;
	gap: var(--primary-padding);
	height: auto;

	@media (max-width: 1024px){
		flex-direction: column;
		gap: var(--secondary-padding);
	}

	//navigation
	&-nav {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		width: min(150px, 100%);

		@media (max-width: 1024px) {
			flex-direction: row;
			width: 100%;
			overflow-x: auto;
			scroll-snap-type: x mandatory;
			-webkit-overflow-scrolling: touch;

			> * {
				flex: 0 0 auto;
				scroll-snap-align: start;
				min-width: max-content;
			}

			&::-webkit-scrollbar {
				display: none;
			}
		}

	}


	&-toggler{
		font-size: var(--secondary-font-size);
		line-height: 2;
		display: flex;
		flex-direction: row;
		gap : var(--primary-padding);
		align-items: center;
		justify-content: space-between;
		transition: opacity .2s ease-in-out, color .2s ease-in-out;
		text-transform: uppercase;
		filter: var(--primary-shadow);
		cursor: pointer;
		padding: var(--secondary-padding);
		opacity: var(--disabled-opacity);
		flex-wrap: nowrap;
		white-space: nowrap;

		svg {
			transition: transform .2s ease-in-out, background .2s ease-in-out;
			display: block;
			width: 20px;
			height: 20px;
			transform: rotate(-90deg);
		}
	}

	//content
	&-content{
		flex: 1;
		padding: var(--secondary-padding);
		display: grid;

		@media (max-width: 1024px) {
			padding: 0;
		}
	}

	&-text{
		grid-area: 1 / 1;
		opacity: 0;
		transition: transform .2s ease-in-out .1s;
	}

	@for $i from 1 through 4 {
		&:has(#tab-#{$i}:checked) {
			label[for="tab-#{$i}"] {
				color: var(--color-green);
				opacity: 1;
				svg {
					transform: rotate(-180deg);
					transition: transform .3s ease;
				}
			}

			.tab-text:has(#tab-#{$i}) {
				opacity: 1;
				animation: slide-left .2s forwards;
			}
		}
	}

	@keyframes slide-left{
		0%{
			transform: translateX(30px);
		}
		100%{
			transform: translateX(0);
		}
	}
}