
.tab{
	display: flex;
	gap: var(--primary-padding);

	//navigation
	&-nav{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: min(150px, 100%)
	}

	&-toggler{
		font-size: var(--secondary-font-size);
		line-height: 2;
		display: flex;
		flex-direction: row;
		gap : var(--primary-padding);
		align-items: center;
		justify-content: space-between;
		transition: opacity .2s ease-in-out;
		text-transform: uppercase;
		filter: var(--primary-shadow);
		cursor: pointer;
		padding: var(--secondary-padding);

		svg {
			transition: transform .2s ease-in-out;
			display: block;
			width: 20px;
			height: 20px;
			filter: var(--primary-shadow);
			transform: rotate(-90deg);
		}
	}

	//content
	&-content{
		flex: 1;
	}

	&-text{

	}

	.tab-text-desc{ display: none; }

	@for $i from 1 through 4 {
		&:has(#tab-#{$i}:checked) {
			label[for="tab-#{$i}"] {
				svg {
					transform: rotate(-180deg);
					transition: transform .3s ease;
				}
			}

			.tab-text:has(#tab-#{$i}) {
				.tab-text-desc {
					display: block;
				}
			}
		}
	}



}