:root {
	//	color
	--color-white: #fff;
	--color-black: #171919;
	--color-black-rgb: 23, 25, 25;
	--color-green: #4AF6CD;
	//	sizes
	--primary-width: 1440px;
	--secondary-width: 1200px;
	--primary-padding: 20px;
	--secondary-padding: 20px;
	// other
	--primary-font: 'Montserrat', sans-serif;
	--secondary-font: 'Montserrat', sans-serif;
}