:root {
	//vars


	//	color
	--color-white: #fff;
	--color-black: #000;
	//	sizes
	--primary-width: 1440px;
	--secondary-width: 1200px;
	--primary-inline-padding: 20px;
	--primary-padding: 20px;
	--secondary-inline-padding: 20px;

	// other
	--primary-font: 'Montserrat', sans-serif;
	--secondary-font: 'Montserrat', sans-serif;
	--header-height: 100px;
}