:root {
	//	color
	--color-white: #fff;
	--color-white-rgb: 255, 255, 255;
	--color-black: #171919;
	--color-black-rgb: 23, 25, 25;
	--color-green: #4AF6CD;
	--color-green-rgb: 74, 246, 205;
	//	sizes
	--primary-width: 1440px;
	--secondary-width: 1200px;
	--primary-padding: 20px;
	--secondary-padding: 10px;
	--primary-font-size: 16px;
	--secondary-font-size: 20px;
	--title-font-size: 80px;
	--subtitle-font-size: 40px;
	--header-height: 80px;
	// other
	--primary-font-family: 'Poppins', sans-serif;
	--primary-shadow: drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 2px black) drop-shadow(0px 0px 5px black);
	--disabled-opacity: 0.4;


//	media
	@media (max-width: 768px){
		--primary-padding: 16px;
		--primary-font-size: 14px;
		--secondary-font-size: 16px;
		--header-height: 60px;
		--title-font-size: 50px;
		--subtitle-font-size: 25px;
	}
}